<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


	<nav th:fragment="menu">
	
		<div class="nav-wrapper container">
			<a href="/" class="brand-logo" >Gerenciador de Produtos</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Página inicial</a></li>
				<li>  <a href="/lanchonetes/form" > Adicionar Produto </a>  </li>

			</ul>
		</div>
	</nav>

	<h1>Bem vindo a nossa aplicação</h1>
	<h2>Funcionou!!!</h2>

</body>
</html>