<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lanchonetes</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

<div class="container">
	<h1>Adicionar Produto</h1>

	<form action="/lanchonetes" method="post">
	
		<div>
			<input type="hidden" name="id" th:value="${lanchonete.id}" readonly="readonly">
		</div>

		<div>
			<label>Produto:</label> <input type="text" name="produto" th:value="${lanchonete.produto}">
		</div>
		<div>
			<label>Preço:</label> <input type="text" name="preco" th:value="${lanchonete.preco}">
		</div>
		<div>
			<label>Quantidade:</label> <input type="text" name="quantidade" th:value="${lanchonete.quantidade}">
		</div>
		<div>
			<label>Data:</label> <input type="text" name="data" th:value="${lanchonete.data}">
		</div>


		<div>
			<button class="waves-effect waves-light btn-small" type="submit">Salvar</button>
			<button class="waves-effect waves-light btn-small" type="reset">Limpar</button>
		</div>
	</form>
</div>
</body>

</html>