<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lanchonetes</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

<div class="container">
	<h1>Adicionar Produto</h1>

	<form action="/lanchonetes" method="post" th:object="${lanchonete}">
	
		<div>
			<input type="hidden" th:field="*{id}" readonly="readonly">
		</div>

		<div>
			<label>Produto:</label> <input type="text" th:field="*{produto}">
			<p th:errors="*{produto}"></p>
		</div>
		<div>
			<label>Preço:</label> <input type="text" th:field="*{preco}">
			<p th:errors="*{preco}"></p>
		</div>
		<div>
			<label>Quantidade:</label> <input type="text" th:field="*{quantidade}">
			<p th:errors="*{quantidade}"></p>
		</div>
		<div>
			<label>Data:</label> <input type="date" th:field="*{data}">
			<p th:errors="*{data}"></p>
		</div>


		<div>
			<button class="waves-effect waves-light btn-small" type="submit">Salvar</button>
			<button class="waves-effect waves-light btn-small" type="reset">Limpar</button>
		</div>
	</form>
</div>
</body>

</html>